* {
	box-sizing: border-box;
	font-family: Roboto, sans-serif;
	margin: 0;
	padding: 0;
}

#header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	margin: 0 auto 6px;
	padding: 10px 20px;
	background-color: #d7e3f5;
}

#header h1 {
	font-size: 24px;
}

#header button {
	background-color: white;
	font-size: 20px;
	padding: 4px 18px;
	margin: 0 8px;
	border: none;
	border-radius: 7px;
	cursor: pointer;
}

#header button:hover {
	text-decoration: underline;
}

.active-button {
	background-color: black !important;
	color: white;
}

#tree-variant-selectors {
	display: flex;
	justify-content: space-around;
	width: 95vw;
	margin: auto;
}

select {
	font-size: 20px;
	padding: 4px;
	margin: 12px 0;
	border-radius: 6px;
}

#step-descriptions-wrapper {
	display: flex;
	width: 95vw;
	margin: auto;
	margin-bottom: 15px;
	border: 2px solid black;
	background: linear-gradient(#000, #000) no-repeat center/1px 100%;
	border-radius: 7px;
	/* https://stackoverflow.com/questions/1179928/how-can-i-put-a-vertical-line-down-the-center-of-a-div */
}

.step-description-wrap {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	font-size: 20px;
	flex: 1;
	width: 50%;
	height: 87px;
	text-align: center;
}

.step-description-text {
	padding: 5px;
}

.step-description-buttons {
	padding-bottom: 5px;
}

.step-description-buttons button {
	padding: 1px 3px;
	margin-left: 5px;
	font-size: 16px;
}

#tree-wrapper {
	display: flex;
	width: 95vw;
	height: 70vh;
	margin: auto;
	border: 2px solid black;
	border-radius: 12px;
	background: linear-gradient(#000, #000) no-repeat center/1px 100%;
	/* https://stackoverflow.com/questions/1179928/how-can-i-put-a-vertical-line-down-the-center-of-a-div */
}

.tree-wrap {
	flex: 1;
	width: 50%;
}

#buttons-wrap {
	width: 95vw;
	padding: 10px;
	margin: auto;
}

#buttons-wrap div {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-bottom: 7px;
}

#buttons-wrap button {
	font-size: 20px;
	padding: 5px 10px;
	margin-left: 10px;
	border: none;
	border-radius: 7px;
	cursor: pointer;
	background-color: #d7e3f5;
}

#buttons-wrap input[type="text"] {
	font-size: 20px;
	padding: 4px 8px;
}

#buttons-wrap button:hover, #import-tree-input-label:hover {
	color: white;
	background-color: black;
}

#buttons-wrap label {
	font-size: 20px;
	padding: 0 8px 0 24px;
}

#buttons-wrap input[type="checkbox"] {
	width: 30px;
	height: 30px;
}

#import-tree-input-label {
	cursor: pointer;
	padding: 5px 10px !important;
	background-color: #d7e3f5;
	border-radius: 7px;
}

@media only screen and (max-width: 1300px) {
	#wrapper {
		flex-direction: column;
	}
}
